* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/*------------------------------------*/

.app {
  padding: 50px;
  height: 100vh;
  background-image: linear-gradient(rgba(#000, 0.8), rgba(#000, 0.8)), url('./assets/img/tuxedo-g41ef6a08c_1280.png');
  background-size: cover;
}

h1, h6 {
  color: #fff;
  span {
    display: block;
    color: darken(#fff, 20%);
    font-size: 14px;
    font-style: italic;
    height: 14px;
  }
}